.auth_form {
    width:50%;
    margin-top: 16%;
    margin-left: 5%;
}

.auth_form .header {
    font-size: 30px;
    font-family: Gilroy-Light;
    margin-bottom: 15%;
}

.auth_form__input {
    margin-top: 5%;
}


.auth_form__button {
    width: 46%;
    margin-top: 7%;
    height: 35px;
}

.auth_form__button.registration {
    background-color: #1D559C;
    margin-left: 8%;
}

.link_update_pass {
    display: block;
    margin-top: 20px;
    color: black;
    font-size: 14px;
    text-decoration: underline black;
}

.link_update_pass:active {
    color: rgb(116, 116, 116);
}

@media(max-width: 768px){
    .auth_form {
        width:100%;
    }
}

@media(max-width: 1024px) {
    .auth_form__button .awesome-button__value {
        font-size: 10px;
    }
}