.awesome_textarea {

    margin-top: 10%;
    color: rgb(134, 134, 134);
    font-size: 13px;
}



.awesome_textarea_input {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    margin-top: 3%;
    max-height: 400px;
    overflow: hidden;
    transition: .3s linear;
    border-bottom: 0.5px solid  rgb(134, 134, 134);
    padding-bottom: 22px;
}
.awesome_textarea_input:focus {
    border-bottom: 1.5px solid #ED7A1B;
}

textarea:hover{
    overflow: auto;
}
textarea::-webkit-scrollbar {
    width: 4px;
}

textarea::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 10px;
}
 
/* Handle */
textarea::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ED7A1B; 
}
