.awesome-button {
    width: 110px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #ED7A1B;
    border-radius: 2px;
    box-shadow: 0 1px 3px #8a8a8a;
    cursor: pointer;
}

.awesome-button.active_button {
    background-color: rgb(173, 102, 43);
}

.awesome-button:active {
    background-color: rgb(173, 102, 43);
}

.awesome-button__value {
    color: #ffffff;
    font-family: Gilroy-Light;
    font-size: 15px;
}

@media(max-width: 375px) {
    .awesome-button__value {
        font-size: 13px;
    }
}

