.awesome_select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid #ED7A1B;
}

.awesome_select__selected {
    width: 100%;
    
    /*: 2px solid #ED7A1B;*/
    box-sizing: border-box;
    padding: 2.5%;
}

.awesome_select__list {
    width: 100%;
    border-top: 2px solid #ED7A1B;
    background-color: #ffffff;
}

.awesome_select__list_elem {
    padding: 10px 2.5%;
}

.awesome_select:hover{
    background-color: #F6B47E;
}

.awesome_select__list_elem:hover {
    background-color: #F6B47E;
}