.img_open {
    max-width: 100%; 
    max-height: 100%;  
}

.img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 300;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 90%;
}