.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.backdrop.open {
    z-index: 100;
    opacity: 1;
    visibility: visible;
}
