.big_date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem;
    border-bottom: 1.2px solid #ED7A1B;
    font-family: Gilroy-Medium;
    cursor: pointer;
}

.big_date:hover {
    background-color: rgba(236, 236, 236, 0.425);
}

.big_date .date {
    font-size: 17px;
    display: block;
    width: 25%;
}

.big_date__statistics {
    display: flex;
    justify-content:flex-end;
    width: 25%;
}

.big_date__earnings {
    display: flex;
    justify-content:flex-end;
    width: 25%;
}