.day_picker_container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.inputs_diary {
    display: flex;
    justify-content: space-around;
    margin: 10% 0;
    width: 77%;
}

.calcul_diary_but {
    width: 35%;
    height: 36px;
}

.segment_stat {
    width: 70%;
}

.content__right.brokers_page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 1024px) {
    .inputs_diary {
        flex-direction: column;
    }
}