.input_file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input_file + label {
    font-size: 1.25em;
    font-family: Gilroy-Light;
    color: white;
    background-color: #ED7A1B;
    display: inline-block;
    cursor: pointer;
    padding: 6px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.input_file:focus + label,
.input_file + label:hover {
    background-color: rgb(173, 95, 31);
}

.input_file:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.create_day__files_form h3 {
   font-family: Gilroy-Light;
   font-weight: 400;
}

.create_day__files_form {
    border-radius: 7px;
    box-shadow: 0 1px 3px #adadad;
    margin: 30px 0;
    padding: 10px;
    padding-left: 25px;
}

.create_statistics {
    width: 50%;
    margin-top: 44px;
    margin-left: 25%;
}

.create_statistics_input {
    margin-bottom: 10px;
}

.create_stat_button {
    width: 100%;
    height: 40px;
    margin-top: 21%;
}
