.day_date {
    border-bottom: 0.7px solid #b9b9b9;
    padding: 10px;
}


.screens {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.screens_img {
    max-height: 100px;
    max-width:100px;
    box-shadow: 0 3px 4px #adadad;
    margin: 3px;
    cursor: pointer;
}

.day_comment {
    border-radius: 7px;
    box-shadow: 0 1px 3px #adadad;
    margin-top: 30px;
    padding: 10px;

    font-size: 15px;
    font-family: Gilroy-Light;
}

.day_remove_but {
    width: 100%;
    height: 35px;
    margin-top: 20%;
}

.day_screen_rem_but {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
}

.day_screen_rem_but:hover {
    background-color: rgb(216, 0, 0);
}

.day_update_but {
    width: 33%;
    height: 19px;
    margin-top: 5%;
    margin-left: 7px;
}

.day_statistics {
    margin-top: 5%;
    margin-left: 10%;
    width: 70%;
}

.day_files_form {
    margin-top: 15px;
    height: 50px;
}

.day_files_form_but {
    margin-left: 5px;
}
