.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border-radius: 50%;
    transition: 0.3s linear;
}

.toggle-button:active {   
    background-color: rgb(173, 102, 43);
}

.toggle-button__line {
    width: 22px;
    height: 1.5px;
    background-color: #ffffff;
    margin: 2.4px 0;
}

@media(min-width: 1184px) {
    .toggle-button {
        display: none;
    }
}