@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy-Medium.woff);
}

@font-face {
  font-family: "Gilroy-Light";
  src:url(../fonts/Gilroy-Light.woff);
}

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: 'Gilroy-Medium';
}

a {
  text-decoration: none;
}

h1 {
  font-size: 25px;
  font-weight: normal;
  font-family: Gilroy-Light;
  margin-top: 0;
}

