.input_field {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

.input_field__label {
    margin-bottom: 3px;
    font-family: Gilroy-Medium;
    font-size: 15px;
    font-weight: 500;
    color: #272727;
}

.input_field input {
    width: 100%;
    border: none;
    padding: 10px;
    border-bottom: 0.8px solid rgb(156, 156, 156);
    box-sizing: border-box;
    transition: border-bottom 0.1s ease-out;
}

.input_field input:focus {
    outline: none;
    border-bottom: 1.2px solid #ED7A1B;
}

.input_field.input_error input:focus {
    outline: none;
    border-bottom: 1.2px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}