.input_date_calendar {
    position: absolute;
    z-index: 80;
    background-color: white;
    box-shadow: 0 0 5px rgb(138, 138, 138);
    border-radius: 5px;
    margin-top: 20px;
}

.input_date_calendar:focus {
    outline: none;
}

.close_calendar {
    display: none;
}

@media(max-width: 368px) {
    .input_date_calendar {
        right: 3%;
    }
}