.instruction_title {
    padding-bottom: 8%;
    border-bottom: 1px solid rgb(134, 134, 134);
}

.instruction_text {
    width: 95%;
    margin-top: 6%;
    font-size: 16px;
    font-family: Gilroy-Light;
    line-height: 19px;
}