.message {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: #52DF4B;

    border-radius: 10px;

    box-shadow: 0 1px 3px #8a8a8a;

    padding: 0 10px;

    color: #ffffff;
    height: 70px;
    font-family: Gilroy-Light;
    font-weight: 500;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s linear 0.4s;
    white-space: nowrap;
    
}

.message.visible {
    opacity: 1;
    visibility: visible;
  
}

.message.message_error {
    background-color: red;
}
