.money_management_table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 5%;  
    margin-bottom: 10%;
    margin-left: 3%;
}

.money_management_table th {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 1.5% 0;
    border-bottom: 1px solid #ED7A1B;
}

.money_management_table .level {
    text-align: left;
    width: 10%;
}


.money_management_table td {
    text-align: center;
    width: 30px;
    padding: 1.5% 5%;
    border-bottom: 1px solid #ED7A1B;
}