.money_managment_input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.money_managment_input_field {
    width: 100%;
    margin: 0;
    padding: 1.5%;
    border-radius: 4px;
}

.money_managment_select_container {
    width: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.money_managment_select {
    border-radius: 4px;
    height: 100%;
    font-size: 20px;
    text-align: center;
}
