.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 1%;
    padding-left: 3%;
  }
  
  .content__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 3%;
  }
  
  .content__right {
    width: 45%;
  }

  .instruction_list li {
    padding: 10px 0;
    font-size: 20px;
    font-family: Gilroy-Light;
  }

@media(max-width:768px) {
  .content{
    flex-direction: column;
    padding-right: 3%;
  }
  .content__left {
    width: 100%;
  }
  .content__right {
    width: 100%;
  }
}

.content__message {
  font-family: Gilroy-Light;
}