.profit_form {
    padding:5% 20%;
    padding-bottom: 8%;
    border: 1px solid #F6B47E;
    border-radius: 5px;
}

.profit_form__button {
    width: 100%;
    margin-top: 5%;
}

.profit_form .input_with_select {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.input_with_select .select {
    height: 34px;
    width: 40%;
    font-size: 10px;
    margin-left: 3%;
}

.profit_result {
    margin-top: 20px;
    font-family: Gilroy-Medium;
    font-size: 19px;
    white-space: 2px;
}