@media(min-width: 1184px) {
    .side-driver {
        display: none;
    }
}




.side-driver {
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 200;
    transform: translateX(-101%);
    transition: transform 0.3s ease-out;
}

.side-driver.open {
    transform: translateX(0);
}

.side-driver ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-driver .side-driver__link {
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 1.5rem;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    transition: 0.3s;
}
.side-driver__link.active {
    background-color: rgb(231, 231, 231);
}
.side-driver a:hover {
    background-color: rgb(212, 212, 212);
  }