.statistics_table {
    width: 100%;
    margin-top: 5%;
    border: 1.5px solid #ED7A1B;
    border-collapse: collapse;
    font-family: Gilroy-Light;
}

.statistics_table thead {
    font-size: 14px; 
}

.statistics_table th {
    padding: 0.5rem;
    border: 0.5px solid #ED7A1B;
}

.statistics_table tbody {
    font-size: 14px;
}

.statistics_table td { 
    padding: 0.5rem; 
    text-align: center;
    border: 0.5px solid #ED7A1B;
}

.statistics_percent {
    margin-top: 20px;
    font-family: Gilroy-Medium;
    font-size: 19px;
    white-space: 2px;
}

@media(max-width:600px) {
    .statistics_table thead {
        display: none;
    }

    .statistics_table tr{
        display: block;
    }
    .statistics_table td{
        display: block;
        text-align: right;
        padding-right: 2rem;
    }
    .statistics_table td:before {
        content: attr(aria-label);
        float: left;      
    }
}