.stat_list {
    padding: 10px 0;
    width: 100%;

}

.stat_list .stat_list_elem {
    border-bottom: 1px solid #b9b9b9;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-family: Gilroy-Light;
    padding: 10px 10px;
}

.stat_num {
    font-size: 24px;
    font-weight: 600;
    color: green
}

.stat_num.lession{
    color: red
}