
.statistics_form_buttons {
    display: flex;
    flex-direction: column;
}

.statistics_form_buttons .two_buttons {
    margin-bottom: 2%;
}
.statistics_form_buttons .three_buttons {
    margin-bottom: 2%;
}

.statistics_form_button {
    margin-right: 2%;
}

@media(max-width: 768px) {
    .statistics_form_buttons{
        flex-direction: column;
    }

    .statistics_form_button {
        margin-bottom: 2%;
    }
}