@media(max-width: 1183px) {
  .toolbar_navigation_items {
    display: none;
  }
  .toolbar {
    position: relative;
    z-index: 50;
  }
}



.toolbar {
    display: flex;
    justify-content: center;
    width: '100%';
    height: 65px;
    background-color: #ED7A1B/*#5FC0CE*/;
    box-shadow: 0 0 7px #8a8a8a;
    color: #ffffff;
  }
  .toolbar__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 0.5rem;
    padding-right: 0;
  }
  
  .spacer {
    flex: 1;
  }

  .toolbar__logo {
    margin-left: 1rem;
    font-size: 18px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  .toolbar__logo img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .toolbar_navigation_items {
      height: 100%;
  }
  .toolbar_navigation_items ul {
    display: -webkit-flex;
    display: flex;
    align-items: center;
   list-style: none;
   margin: 0;
   padding: 0;
   height: 100%;
  }
  
  .toolbar_navigation_items .toolbar_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    padding: 0 1rem;
    font-size: 14px;
    white-space: nowrap;
    color: #ffffff;
    transition: .3s linear;
    box-sizing: border-box;
    cursor: pointer;
  }

  .toolbar_link_servises {
    display: flex;
    align-items: center;
    height: 27px;
    background-color: white;
    padding: 8px;
    border-radius: 34px;
    color: black;
    font-size: 13px;
    margin: 0 10px;
  }

  .toolbar_link_servises .link_icon {
    width: 26px;
    margin:0 3px;

  }

  .link_icon.youtube {
    width: 25px;
    height: 24px;
    border-radius: 50%;
  }

  .toolbar_link.active {
    background-color:rgb(173, 102, 43);
  }
.toolbar_link:hover {
    background-color:rgb(173, 102, 43);
    font-size: 14.2px;
  }

  .toolbar_link.active:hover {
    background-color:rgb(155, 97, 51);
  }

  .toolbar_link_servises:hover {
    background-color: rgb(238, 238, 238);
  }