.upd_pass_form {
    width: 45%;
    margin-top: 16%;
    margin-left: 5%;
    
}
.upd_pass_form .header {
    font-size: 30px;
    font-family: Gilroy-Light;
    margin-bottom: 25%;
}


.upd_pass_form__but {
    width:100%;
    height: 39px;
    margin-top: 50px;
}

@media(max-width: 768px) {
    .upd_pass_form {
        width: 100%;      
    }
}